-e git+git@bitbucket.org:abishara89/athena.git@286fa320c82fbcb449ff00f29ca95cce8690f295#egg=athena
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bx-python==0.7.3
certifi==2016.2.28
decorator==4.0.10
futures==3.0.5
ipykernel==4.3.1
ipyparallel==5.1.0
ipython==4.2.0
ipython-cluster-helper==0.5.2
ipython-genutils==0.1.0
jupyter-client==4.3.0
jupyter-core==4.1.0
netifaces==0.10.4
networkx==1.11
numpy==1.11.0
pathlib2==2.1.0
pexpect==4.1.0
pickleshare==0.7.2
ptyprocess==0.5.1
pysam==0.9.0
pytabix==0.1
PyVCF==0.6.8
pyzmq==15.2.0
scikit-learn==0.17.1
scipy==0.17.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
sklearn==0.0
tornado==4.3
traitlets==4.2.1
